<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMLDefaultApplicationKey</key>
	<string>524eec5973d1bf8ae361c8ea52cb41712ef9bee1c9212d1b01d4559067aa542a</string>
</dict>
</plist>
