<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMLDefaultApplicationKey</key>
	<string>b0e1fa31de4bfb042ac9c99b19e748e18041d4439478872d6491ea699555456a</string>
</dict>
</plist>
